* {
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FFB900;
    --border-thumb: 1px;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: auto;
}

.desc {
    margin-top: 20px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6667;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 118px;
    height: 50px;
    border-radius: 999px;
    background: #171100;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    opacity: 0.9;
}

.heading {
    color: #171100;
    font-family: Sen;
    font-weight: 700;
    letter-spacing: -0.116rem;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17241;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26316;
}

.break-all {
    word-break: break-word;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

/* Header */
.header {
    background: #FFFCF4;
    z-index: 1;

}

.header .header-body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.sticky {
    position: sticky;
    top: -28px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5F5B53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100
}

.nav li.active a:after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.sign-up-btn {
    width: 144px;
    margin-left: 49px;
}

.hero {
    padding: 72px 0 65px;
    background: #fffcf4;
}

/* Hero */
.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    /* flex-shrink: 0; */
    width: 47%;
}

.hero .media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}



.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    border-radius: 12px;
    padding: 24px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item+.item {
    margin-top: 14px;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #EBEAFF;
}

.hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFF9E8;

}


.hero-summary .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6667;
}

.hero-summary .infor {
    margin-left: 16px;
}

.hero .content-block {
    width: 53%;
    padding: 64px 0 0 130px;
}

.content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.content-block .cta-group .hero-btn {
    min-width: 180px;
    height: 64px;
    background: var(--primary-color);
}

.content-block .cta-group .hero-button {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.content-block .hero-button .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
}

.content-block .hero-button span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.hero .content-block .stats {
    margin-top: 8px;
}

.hero .stats strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22727;
}

.hero .stats strong+strong {
    margin-left: 28px;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    width: 458px;
}

.popular-top .controls {
    display: flex;
    align-items: center;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #FFB900;
    background: transparent;
    color: var(--primary-color);
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular-course {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular-course .course-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 12px;
    border: var(--border-thumb) solid #E2DFDA;
    background: #FFF;
}

.popular-course .course-item:hover {
    border: none;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-course .thumb {
    width: calc(100% + 2 * var(--border-thumb));
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin: calc(-1 * var(--border-thumb));
}

.popular-course .infor {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 22px;
    padding-top: 16px;
}

.popular-course .infor-head,
.popular-course .rating,
.popular-course .infor-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.popular-course .infor-head a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.popular-course .infor-head span {
    margin-left: 6px;
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular-course .infor .desc {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}

.popular-course .infor-foot {
    margin-top: auto;
}

.popular-course .infor-foot .btn-book {
    border: none;
    background: #171100;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85714;
}

.popular-course .infor-foot .btn-book:hover {
    cursor: pointer;
    background: var(--primary-color);
}

.popular .infor-foot .price {
    color: #171100;
    font-size: 1.8rem;
    line-height: 1.66667;
}

/* Make Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    flex: 1 0 100%;
}

.feedback-infor .avatar {
    flex: 1 0 34%;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-infor .author {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41667;
}

.feedback-infor .desc {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}

.feedback-item .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: var(--primary-color);
    cursor: default;
}

.feedback-item .content {
    flex: 0 0 66%;
    margin-left: auto;
}

.feedback-item .content .quote {
    margin-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53846;
}

/* Feature */
.feature {
    margin-top: 135px;
    padding: 65px 0;
}

.feature .body {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.feature .body .images {
    display: flex;
    gap: 30px;
}

.feature .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.feature .images img.slow {
    margin-top: 30px;
}

.feature .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
}

.feature .content .desc {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.feature .content .feature-btn {
    margin-top: 32px;
    min-width: 137px;
    border: none;
    background: var(--primary-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

/* Feature 2 */
.feature-2 {
    margin-top: 70px;
}

.feature-2 .body {
    flex-direction: row-reverse;
}

.feature-2 .images img {
    width: 470px;
    height: 440px;
}

.feature-2 .content {
    width: 49%;
}

/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #FFFCF4;
    /* overflow-x: clip; */
}

.blog-top {
    text-align: center;
}

.blog-top .desc {
    width: 448px;
    margin: 16px auto 0;
    color: #696262;
    font-weight: 400;
    line-height: 1.75;
}

.blog-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
    overflow-x: clip;
}

.blog-list .blog-item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    background: #fff;
    border-radius: 16px;
}

.blog-list .blog-item:hover {
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);

}

.blog-list .blog-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog-item .content {
    padding: 20px 30px 28px;
}

.blog-item .content .date {
    position: relative;
    display: inline-block;
    margin-left: 12px;
    color: #5F5B53;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85714;

}

.blog-item .content .date::before {
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog-item .content .date::after {
    position: absolute;
    bottom: -12px;
    left: -12px;
    right: -27px;
    content: "";
    display: block;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}

.blog-item .content .desc a {
    margin-top: 25px;
    color: #171100;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog-item .content .btn {
    margin-top: 12px;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85714;
}

.blog-item .content .btn:hover {
    background: var(--primary-color);
    cursor: pointer;
}

.blog .dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 38px;
}

.blog .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5F5B53;
    cursor: pointer;
}

.blog .dot.active {
    background: var(--primary-color);
    cursor: default;
}

/* Footer */
.footer {
    background: #2E2100;
    padding: 96px 0 28px;
}

.footer .row {
    display: flex;
    border-bottom: 1px solid #59554B;
    padding-bottom: 38px;
}

.footer .column {
    width: 21.66%;
}

.footer .column:nth-child(1) {
    width: 35%;
    margin-top: 6px;
}

.footer .desc {
    max-width: 267px;
    margin-top: 18px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}

.footer .socials {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 18px;
}

.footer .heading {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554B;
    color: #FFF;
    font-weight: 600;
    line-height: 1.75;
}

.footer .list a {

    display: inline-block;
    margin-bottom: 0 0 12px 0;
}

.footer .list a:hover {
    text-decoration: underline 1px #fff;
}

.footer .list strong {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85714;
}

.copy-right {
    padding-top: 28px;
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}